@tailwind components;
@layer components {
    .pointer-menu {
      @apply border mx-2 relative hover:cursor-pointer hover:bg-slate-200;
      height: 20vh;
      width: 20vw;
      margin-bottom: 1%;
      padding: 1%;
      border-radius: 20px;
    }
  
    .table-data {
      @apply border;
      margin-bottom: 1%;
      padding: 1%;
      border-radius: 20px;
    }
    
    .BarMenu {
      @apply mx-2 px-1 text-white hover:text-black hover:bg-white hover:cursor-pointer hover:rounded text-center;    
    }
  
    .hamburger{  
      display: none;
    }
  
    .Barul{
      @apply flex justify-center m-0 items-center;
    }
    .subheadMenubarlogin{
      @apply flex justify-center;
    }
  
    .Subheader1{
      @apply  border z-50 bg-slate-50 overflow-visible absolute top-6 w-56 rounded;
    }
    .Subheader2{
      @apply absolute w-56 border left-52 top-3 rounded mx-2 bg-slate-50;
    }
    .active{
      @apply flex justify-between w-full items-center headMenubar;
    }
    .toggle-active{
      @apply flex justify-between w-full items-center headMenubar;
    }
    
  
    @media only screen and (max-width: 900px) {
      .hamburger{  
        display: flex;
      }
  
      .headMenubar {
        @apply flex flex-col absolute w-full border h-auto bg-white left-0 top-16 z-40 bg-slate-100 ;    
      }
      .Barul{
        @apply flex flex-col w-full  p-0;
      }
      .BarMenu{
        @apply text-black  text-left  w-full my-2 h-auto;  
      }
         
      .subheadMenubarlogin {
        @apply flex  justify-between z-50  bg-white my-2 w-full border rounded-xl;    
      }
      .login-reg{
        @apply text-center border w-36 mx-2 rounded-xl
      }
      .Subheader1{
        @apply flex justify-center flex-col relative w-full top-0;
      }
      .Subheader2{
        @apply flex flex-col w-full relative m-0 left-0 ease-linear;
      }
      .active{
        @apply invisible;
      }
      .toggle-active{
        @apply flex;
      }
  
  
    }
  }