@tailwind components;

@layer components {
    * {
        margin: 0;
        padding: 0;
    }

    .popupSwitchGear {
        @apply fixed w-2/4 h-auto z-10 bg-white mx-0 px-0 left-0 flex justify-center border rounded-xl top-1/4 left-1/4;
        animation: popup 0.7s;
    }

    @media only screen and (max-width: 500px) {
        .popupSwitchGear {
            @apply fixed w-full h-auto z-10 bg-white mx-0 px-0 left-0 flex justify-center border rounded-xl top-24 left-0;
            animation: popup 0.7s;
        }
    }

    @keyframes popup {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.4);
        }

        60% {
            transform: scale(1.1);
        }

        70% {
            transform: scale(1.2);
        }

        80% {
            transform: scale(1);
        }

        90% {
            transform: scale(1.1);
        }

        100% {
            transform: scale(1);
        }
    }
}